header > nav > div > div.navbar-collapse {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #fff;
}

span.sr-only {
    display: none;
}

a.nav-link {
    color: #000;
    font-size: 1.15rem;
    transition: color 0.3s ease;
}

a.nav-link:hover {
    color: var(--blue);
}

a.nav-link-active {
    color: var(--blue);
    font-size: 1.15rem;
}

a.nav-link-active:hover {
    color: var(--blue);
}